---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Support">
	<div class="container">
		<section class="content-section">
			<h1>Support</h1>
			
			<div class="support-content">
				<h2>How Can We Help?</h2>
				<p>We're here to help you get the most out of Luma Money. If you have any questions, concerns, or feedback, please contact us at <a href="mailto:lumamoney@icloud.com" class="inline-link">lumamoney@icloud.com</a>.</p>
			</div>
		</section>
	</div>
</Layout>
